*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    padding: 1em;
}

button {
    display: inline-block;
    margin: 1em;
    padding: 0.5em;
    min-width: 6em;
}

.panel {
    padding: 0.5em;
    background-color: rgba(16, 16, 16, 0.75);
}

#control-panel {
    position: absolute;
    top: 2em;
    bottom: 2em;
    left: 2em;
    width: 18em;
}

#display {
    position: absolute;
    top: 2em;
    right: 2em;
    bottom: 2em;
    left: 24em;
}

#game-screen {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
#game-screen canvas {
    width: 100%;
    height: 100%;
}
